!!!
html
  head
    block head
      link(rel='stylesheet', href='/stylesheets/home.css')
  body
    #wrapper
      header#main-header
        h1
          a(href="/") UI things considered
      #container
        nav
          ul
            li
              a(href='/') twitter
            li
              a(href='/') about
            li
              a(href='/') github
        #content
          block content

      //- include ./fixtures/ribbon.html
      footer#main-footer
        p
          &copy;2012 &ndash; shimaguchi tomoya

      //- include ./fixtures/ga.html
    