!!!
html
  head
    block head
      link(rel='stylesheet', href='/stylesheets/home.css')
  body
    #wrapper
      header#main-header
        h1
          a(href="/") UI things considered
      #container
        nav.nav-list
          ul
            li
              a(href='/') home
            li
              a(href='/about/') about
            li
              a(href='/blog/') blog

            li.nav-header links
            li
              a(href='https://twitter.com/smagch') twitter
            li
              a(href='https://github.com/smagch') github
        #content
          block content

      //- include ./fixtures/ribbon.html
      footer#main-footer
        p
          &copy;2012 &ndash; shimaguchi tomoya

      //- include ./fixtures/ga.html
    