!!!
html
  head
    block head
      meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
      meta(name="description", content="about smagch")
      meta(name="viewport", content="width=device-width")
      meta(name="author", content="smagch")
      meta(name="keywords", content="Node.js,javascript")
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(src='/javascripts/modernizr.min.js')

  body
    #wrapper
      header#main-header
        h1
          a(href="/") All JS stuff considered
      #container
        nav
          ul
            li: a(href='/about/') About
            li: a(href='/') Posts
            li: a(href='https://twitter.com/smagch') twitter
            li: a(href='https://github.com/smagch') github
        #content
          block content

      include ./fixtures/ribbon.html
      footer#main-footer
        span &copy;2012 &ndash; Shimaguchi Tomoya

      //- include ./fixtures/ga.html
    