
@font-face
  font-family: 'linux_libertineregular'
  src: url('/types/linlibertine_rah-webfont.eot')
  src: url('/types/linlibertine_rah-webfont.eot?#iefix') format('embedded-opentype'),
       url('/types/linlibertine_rah-webfont.woff') format('woff'),
       url('/types/linlibertine_rah-webfont.ttf') format('truetype'),
       url('/types/linlibertine_rah-webfont.svg#linux_libertineregular') format('svg');
  font-weight: normal
  font-style: normal