@font-face {
    font-family: 'roboto';
    src: url('/types/Roboto-Bold-webfont.eot');
    src: url('/types/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/types/Roboto-Bold-webfont.woff') format('woff'),
         url('/types/Roboto-Bold-webfont.ttf') format('truetype'),
         url('/types/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/types/Roboto-Italic-webfont.eot');
    src: url('/types/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/types/Roboto-Italic-webfont.woff') format('woff'),
         url('/types/Roboto-Italic-webfont.ttf') format('truetype'),
         url('/types/Roboto-Italic-webfont.svg#robotoitalic') format('svg');
    font-weight: normal;
    font-style: italic oblique;
}

@font-face {
    font-family: 'roboto';
    src: url('/types/Roboto-Light-webfont.eot');
    src: url('/types/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/types/Roboto-Light-webfont.woff') format('woff'),
         url('/types/Roboto-Light-webfont.ttf') format('truetype'),
         url('/types/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}