
// sans serif font mixin
sans()
  font-family: "Robot", Sans-Serif

// serif font mixin
serif()
  font-family: "linux_libertineregular", Serif

// monospace font
mono()
  font-family: "Ubuntu" monospace, Serif

.container
  max-width: 640px
  margin: 0 auto
  position: relative
  display: block

.inner
  margin: 0 20px

#header
  background: #f8f8f8
  border-bottom: 1px solid #e8e8e8
  headerHeight = 60px
  h1
    margin: 0 0 0 20px
    float: left
    font-size: 20px
    color: #1d7921
    height: headerHeight
    line-height: headerHeight
    vertical-align: middle
  img
    float: left
    // 60 - 5 * 2
    margin-top: 6px
    margin-left: 10px
    width: 48px
    height: 48px
    border-radius: 4px
  aside
    float: right
    margin-right: 20px
    line-height: headerHeight
    height: headerHeight
    a
      text-decoration: none
      font-weight: lighter
      color: #882f1f
      font-size: 16px

html
  sans()
  font-style: normal

body
  margin: 0 auto
  padding: 0
  color: #353535
  background: #fdfcfc

#content article h1
  serif()
  color: #020001
  text-align: center

h1
h2
h3
h4
h5
h6
  color: #2F2F2F

h1 a
  text-decoration: none

h2 a
  sans()
  text-decoration: none
  font-weight: bold

section
  margin: 10px auto

code
  mono()
  margin: 0
  padding: 0

pre
  overflow: auto
  width: auto
  background-color: #f0f6fa
  border-width: 1px 0
  padding: 10px
  border-radius: 6px
  line-height: 20px

iframe
  margin: 30px 0
  display: block
  border: none
  width: 100%
  height: 400px

.center
  text-align: center

.post-link
  clearfix()
  margin-left: 60px
  margin-right: 60px

html
  font-size: 18px
#content article h1
  font-size: 46px
h2 a
  font-size: 24px
pre
  font-size: 16px
article h2
  margin-top: 70px

@media all and (max-width: 480px)
  html
    font-size: 14px
  #content article h1
    font-size: 30px
  .inner
    margin: 0 10px
  h2 a
    font-size: 20px
  pre
    font-size: 12px
    line-height: 16px
  article h2
    margin-top: 40px

@media all and (min-width: 481px) and (max-width: 640px)
  html
    font-size: 16px
  #content article h1
    font-size: 36px
  h2 a
    font-size: 24px
  pre
    font-size: 14px
    line-height: 18px
  article h2
    margin-top: 50px