@font-face{font-family:'linux_libertineregular';src:url("/types/linlibertine_rah-webfont.eot");src:url("/types/linlibertine_rah-webfont.eot?#iefix") format('embedded-opentype'),url("/types/linlibertine_rah-webfont.woff") format('woff'),url("/types/linlibertine_rah-webfont.ttf") format('truetype'),url("/types/linlibertine_rah-webfont.svg#linux_libertineregular") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Robot';src:url("/types/Roboto-Bold-webfont.eot");src:url("/types/Roboto-Bold-webfont.eot?#iefix") format('embedded-opentype'),url("/types/Roboto-Bold-webfont.woff") format('woff'),url("/types/Roboto-Bold-webfont.ttf") format('truetype'),url("/types/Roboto-Bold-webfont.svg#robotobold") format('svg');font-weight:bold;font-style:normal}
@font-face{font-family:'Robot';src:url("/types/Roboto-Italic-webfont.eot");src:url("/types/Roboto-Italic-webfont.eot?#iefix") format('embedded-opentype'),url("/types/Roboto-Italic-webfont.woff") format('woff'),url("/types/Roboto-Italic-webfont.ttf") format('truetype'),url("/types/Roboto-Italic-webfont.svg#robotoitalic") format('svg');font-weight:normal;font-style:italic}
@font-face{font-family:'Robot';src:url("/types/Roboto-Light-webfont.eot");src:url("/types/Roboto-Light-webfont.eot?#iefix") format('embedded-opentype'),url("/types/Roboto-Light-webfont.woff") format('woff'),url("/types/Roboto-Light-webfont.ttf") format('truetype'),url("/types/Roboto-Light-webfont.svg#robotolight") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Ubuntu';src:url("/types/ubuntumono-r-webfont.eot");src:url("/types/ubuntumono-r-webfont.eot?#iefix") format('embedded-opentype'),url("/types/ubuntumono-r-webfont.woff") format('woff'),url("/types/ubuntumono-r-webfont.ttf") format('truetype'),url("/types/ubuntumono-r-webfont.svg#robotobold") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'Ubuntu';src:url("/types/ubuntumono-ri-webfont.eot");src:url("/types/ubuntumono-ri-webfont.eot?#iefix") format('embedded-opentype'),url("/types/ubuntumono-ri-webfont.woff") format('woff'),url("/types/ubuntumono-ri-webfont.ttf") format('truetype'),url("/types/ubuntumono-ri-webfont.svg#robotoitalic") format('svg');font-weight:normal;font-style:italic}
@font-face{font-family:'Ubuntu';src:url("/types/ubuntumono-b-webfont.eot");src:url("/types/ubuntumono-b-webfont.eot?#iefix") format('embedded-opentype'),url("/types/ubuntumono-b-webfont.woff") format('woff'),url("/types/ubuntumono-b-webfont.ttf") format('truetype'),url("/types/ubuntumono-b-webfont.svg#ubuntu_monobold") format('svg');font-weight:bold;font-style:normal}
pre code .hll{background-color:#ffc}
pre code .c{color:#998;font-style:italic}
pre code .err{color:#a61717;background-color:#e3d2d2}
pre code .k{color:#000;font-weight:bold}
pre code .o{color:#000;font-weight:bold}
pre code .cm{color:#998;font-style:italic}
pre code .cp{color:#999;font-weight:bold;font-style:italic}
pre code .c1{color:#998;font-style:italic}
pre code .cs{color:#999;font-weight:bold;font-style:italic}
pre code .gd{color:#000;background-color:#fdd}
pre code .ge{color:#000;font-style:italic}
pre code .gr{color:#a00}
pre code .gh{color:#999}
pre code .gi{color:#000;background-color:#dfd}
pre code .go{color:#888}
pre code .gp{color:#555}
pre code .gs{font-weight:bold}
pre code .gu{color:#aaa}
pre code .gt{color:#a00}
pre code .kc{color:#000;font-weight:bold}
pre code .kd{color:#000;font-weight:bold}
pre code .kn{color:#000;font-weight:bold}
pre code .kp{color:#000;font-weight:bold}
pre code .kr{color:#000;font-weight:bold}
pre code .kt{color:#458;font-weight:bold}
pre code .m{color:#099}
pre code .s{color:#d01040}
pre code .na{color:#008080}
pre code .nb{color:#0086b3}
pre code .nc{color:#458;font-weight:bold}
pre code .no{color:#008080}
pre code .nd{color:#3c5d5d;font-weight:bold}
pre code .ni{color:#800080}
pre code .ne{color:#900;font-weight:bold}
pre code .nf{color:#900;font-weight:bold}
pre code .nl{color:#900;font-weight:bold}
pre code .nn{color:#555}
pre code .nt{color:#000080}
pre code .nv{color:#008080}
pre code .ow{color:#000;font-weight:bold}
pre code .w{color:#bbb}
pre code .mf{color:#099}
pre code .mh{color:#099}
pre code .mi{color:#099}
pre code .mo{color:#099}
pre code .sb{color:#d01040}
pre code .sc{color:#d01040}
pre code .sd{color:#d01040}
pre code .s2{color:#d01040}
pre code .se{color:#d01040}
pre code .sh{color:#d01040}
pre code .si{color:#d01040}
pre code .sx{color:#d01040}
pre code .sr{color:#009926}
pre code .s1{color:#d01040}
pre code .ss{color:#990073}
pre code .bp{color:#999}
pre code .vc{color:#008080}
pre code .vg{color:#008080}
pre code .vi{color:#008080}
pre code .il{color:#099}
.nav-list{margin-left:0;margin-bottom:14px;list-style:none;}
.nav-list li a{display:block;text-decoration:none;height:40px;line-height:40px;vertical-align:middle;padding-left:14px;}
.nav-list li a:hover{background:#414043}
.nav-list .nav-header{margin-top:20px;display:block;font-size:14px;font-weight:bold;line-height:20px;height:20px;vertical-align:center;color:#fff;margin-left:10px}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
html,button,input,select,textarea{font-family:sans-serif;color:#222}
body{margin:0;font-size:1em;line-height:1.4}
::-moz-selection{background:#3c8140;color:#030303;text-shadow:none}
::selection{background:#3c8140;color:#030303;text-shadow:none}
a{color:#39343c;font-weight:bold}
a:visited{color:#221617;font-weight:bold}
a:hover{color:#48080a;font-weight:bold}
a:focus{outline:thin dotted}
a:hover,a:active{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:bold}
blockquote{margin:1em 40px}
dfn{font-style:italic}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
ins{background:#ff9;color:#000;text-decoration:none}
mark{background:#ff0;color:#000;font-style:italic;font-weight:bold}
pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}
q{quotes:none}
q:before,q:after{content:"";content:none}
small{font-size:85%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
ul,ol{margin:1em 0;padding:0 0 0 40px}
dd{margin:0 0 0 40px}
nav ul,nav ol{list-style:none;list-style-image:none;margin:0;padding:0}
img{border:0;vertical-align:middle;-ms-interpolation-mode:bicubic}
svg:not(:root){overflow:hidden}
figure{margin:0}
form{margin:0}
fieldset{border:0;margin:0;padding:0}
label{cursor:pointer}
legend{border:0;padding:0;white-space:normal;*margin-left:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input{line-height:normal}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}
button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*width:13px;*height:13px}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:vertical}
table{border-collapse:collapse;border-spacing:0}
td{vertical-align:top}
.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}
.pull-right{float:right}
.pull-left{float:left}
a.noline{text-decoration:none}
ul.none{margin:0;padding:0;list-style:none;}
ul.none.hlist{display:inline;}
ul.none.hlist li{display:inline;margin:0 4px}
.toggle-edit .exit{display:none}
.toggle-edit.editing .edit{display:none}
.toggle-edit.editing .exit{display:block}
.actions{padding:10px;margin:0;background:#5c6a99}
.well{min-height:20px;padding:19px;margin-bottom:20px;background-color:#f5f5f5;border:1px solid #eee;border:1px solid rgba(0,0,0,0.05);border-radius:4px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.05);}
.well blockquote{border-color:#ddd;border-color:rgba(0,0,0,0.15)}
.list-actions{padding:10px 0;}
.list-actions li{float:right;list-style:none;padding-left:20px;display:inline-block}
.video-container{position:relative;margin:6px;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}
.img-container{margin-top:40px;margin-bottom:40px;}
.img-container img{max-width:100%}
.comments{background:#fff;padding:10px 20px}
.container{max-width:640px;margin:0 auto;position:relative;display:block}
.inner{margin:0 20px}
#header{background:#f5f5f5;border-bottom:1px solid #e8e8e8;}
#header h1{margin:0 0 0 20px;float:left;font-size:20px;color:#1d7921;height:60px;line-height:60px;vertical-align:middle}
#header img{float:left;margin-top:6px;margin-left:10px;width:48px;height:48px;border-radius:4px}
#header aside{float:right;margin-right:20px;line-height:60px;height:60px;}
#header aside a{text-decoration:none;font-weight:lighter;color:#882f1f;font-size:16px}
html{font-family:"Robot",Sans-Serif;font-style:normal}
body{margin:0 auto;padding:0;color:#353535;background:#fdfcfc}
#content article h1{font-family:"linux_libertineregular",Serif;color:#020001;text-align:center}
h1,h2,h3,h4,h5,h6{color:#2f2f2f}
h1 a{text-decoration:none}
h2 a{font-family:"Robot",Sans-Serif;text-decoration:none;font-weight:bold}
section{margin:10px auto}
code{font-family:"Ubuntu" monospace,Serif;margin:0;padding:0}
pre{overflow:auto;width:auto;background-color:#f0f6fa;border-width:1px 0;padding:10px;border-radius:6px;line-height:20px}
iframe{margin:30px 0;display:block;border:none;width:100%;height:400px}
.center{text-align:center}
.post-link{margin-left:60px;margin-right:60px}
.comments{background-color:#f5f5f5;border-top:1px solid #efefef;margin-top:100px}
html{font-size:18px}
#content article h1{font-size:46px}
h2 a{font-size:24px}
pre{font-size:16px}
article h2{margin-top:70px}
@media all and (max-width: 480px){html{font-size:14px}
#content article h1{font-size:30px}
.inner{margin:0 10px}
h2 a{font-size:20px}
pre{font-size:12px;line-height:16px}
article h2{margin-top:40px}
}@media all and (min-width: 481px) and (max-width: 640px){html{font-size:16px}
#content article h1{font-size:36px}
h2 a{font-size:24px}
pre{font-size:14px;line-height:18px}
article h2{margin-top:50px}
}@media only screen and (min-width: 35em){}.ir{border:0;font:0/0 a;text-shadow:none;color:transparent;background-color:transparent}
.hidden{display:none !important;visibility:hidden}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow:visible;position:static;width:auto}
.invisible{visibility:hidden}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
@media print{*{background:transparent !important;color:#000 !important;box-shadow:none !important;text-shadow:none !important}
a,a:visited{text-decoration:underline}
a[href]:after{content:" (" attr(href) ")"}
abbr[title]:after{content:" (" attr(title) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
thead{display:table-header-group;}
tr,img{page-break-inside:avoid}
img{max-width:100% !important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
}
