$accent_col = #642226
$header_col = #2F2F2F
$gray_light = #333
$gray = #2F2F2F
$gray_dark = #151515

$selection_back = #3C8140
$a_col = #39343C
$a_visited = #221617
$a_hover = #48080A

$W = 760px
$w = 540px

$nav_w = 90px
$nav_back = #353437
$nav_col = #64272D
$nav_h = 30px

$F_H = 40px
$H_H = 40px

$BACK = #555734
$main_back = #596861

$main_header_col = darken($BACK, 20%)