$accent_col = #642226
$header_col = #2F2F2F
$gray_light = #333
$gray = #2F2F2F
$gray_dark = #151515

$W = 760px
$w = 540px

$nav_w = 70px
$nav_back = #2A2A2A
$nav_h = 30px

$F_H = 40px
$H_H = 40px

$BACK = #555734
$main_back = #596861