extends ../base

block append head
  title about

block content
  article
    header
      h1 about
    section
      :markdown
        I'm a computer programmer who just started independent contractor in [Asahikawa city].
        
        I do JavaScript mainly though I used to do Java and ActionScript.
        I care about local community because I don't think
        people are given a right opportunity to learn computer programming.
        I've met my first employer on the github: He saw my github account and sent an email to me.
        
        If existing educational establishments in your local area aren't
        scalable enought with industorial structure shift to the IT stuff
        and ever growing open-source communities, computer engineers
        who know open-source should do something.
        
        [Asahikawa city]: http://en.wikipedia.org/wiki/Asahikawa,_Hokkaid%C5%8D