extends ../base

block append head
  title about

block content
  article
    header
      h1 about
    section
      :markdown
        I'm a computer programmer. I've just started independent contractor in [Asahikawa city].
        I've met my first employer on the github rather than StackOverflow Career 2.0.
        He saw my github account and sent an email to me.
        I do JavaScript mainly though I used to do Java and ActionScript.
        
        I'm also sculptor wannabe who just learnd sculpture in [Pietrasanta]. I love marble.
        I'll go back to Italy if I can afford to do.
        
        Putting it simply, my real profession is sculptor.
        And then I'm making a living by coding at the moment.
        
        [Asahikawa city]: http://en.wikipedia.org/wiki/Asahikawa,_Hokkaid%C5%8D
        [Pietrasanta]: http://en.wikipedia.org/wiki/Pietrasanta