extends ./lib/base.jade

block head
  link(rel='stylesheet', href='/stylesheets/post.css')

block content
  article.container
    header.inner
      h1 #{title}
    .inner!= content

  .comments
    .container
      #disqus_thread
  include lib/disqus.html

